$light-primary:       #ffffff;
$light-secondary:     #f3ab26;
$light-tertiary:      #0ce1a1;
$light-font-primary:  #1c1c1c;
$light-font-secondary:#4ecca3;

$dark-primary:        #2d3a4c;
$dark-secondary:      #2e79b3;
$dark-tertiary:       #092133;
$dark-font-primary:   #ffffff;
$dark-font-secondary: #ff4d2a;