// Slide In Top
  // Intro Message
    .slide-in-top-title-text:nth-child(1) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 0s; }
    .slide-in-top-title-text:nth-child(2) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 1.35s; }
    .slide-in-top-title-text:nth-child(3) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 2.7s; }
    .slide-in-top-title-text:nth-child(4) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 4.05s; }
    .slide-in-top-title-text:nth-child(5) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 5.40s; }
  // Intro Message
  
  @keyframes slide-in-top {
    0% {
      // transform: translateY(-100px);
      transform: translateY(-250%);
      opacity: 0;
      z-index: 2;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      z-index: 2;
    }
  }
// Slide In Top

// Slide To Top
  .slide-top { animation: slide-top 550ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation-delay: 0s; }
  @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
// Slide To Top

// Fade In Center
  .fade-in-center {
    visibility: visible !important;
    animation: fade-in-center 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes fade-in-center {
    0% {
      transform: scale(0.75);
      opacity: 0.55;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
// Fade In Center