@import './_color-palette';
@import './_fs-animations';

// Default Color Themes (Light/Dark)
  @mixin light-theme {
    @media (prefers-color-scheme: light) { @content; }
  }
  @mixin dark-theme{
    @media (prefers-color-scheme: dark) { @content; }
  }
  @mixin fs-style($background-color:$light-secondary, $color:$light-font-primary){
    background-color: $background-color;
    color: $color;
    @content;
  }
  @mixin effects($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
    background-color: $background-color;
    color: $color;
    border: $border;
    cursor: $cursor;
  }
// Default Color Themes 

// Grids
  @mixin grid-pos($grid-column:unset, $grid-row:unset){
    grid-column:$grid-column;
    grid-row:$grid-row;
  }
  @mixin grid-container($grid-columns:1fr, $grid-rows:auto, $bg-color: transparent){
    display: grid;
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
    background-color: $bg-color;
    @content;
  }
// Grids

// Buttons
  @mixin btn($height:min-content,  $width:min-content, $padding:0.375rem 0.75rem, $margin:auto, $border:1px solid transparent, $border-radius:0.25rem, $font-weight:400, $text-align:center, $line-height:1.5, $white-space:nowrap, $user-select:none){
    height: $height;
    width: $width;
    padding: $padding;
    margin: $margin;
    border: $border;
    border-radius: $border-radius;
    font-weight: $font-weight;
    text-align: $text-align;
    line-height: $line-height;
    white-space: $white-space;
    user-select: $user-select;
  }

  // Effects (Hover, Link Visited, Active, Focus
  @mixin btn-hover($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
    &:hover {
      @include effects($background-color, $color, $border, $cursor);
      @content;
    }
  }
  @mixin btn-link($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
    &:link {
      @include effects($background-color, $color, $border, $cursor);
      @content;
    }
  }
  @mixin btn-visited($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
    &:visited {
      @include effects($background-color, $color, $border, $cursor);
      @content;
    }
  }
  @mixin btn-active($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
    &:active {
      @include effects($background-color, $color, $border, $cursor);
      @content;
    } 
  }
  @mixin btn-focus(){
    &:focus {
      outline: none;
      @content;
    } 
  }
// Buttons