@import './_global-styles.scss';

// Custom Classes
  .btn-primary{
    @include grid-pos(2,1);
    @include btn();
    
    @include light-theme{
      @include fs-style();
      @include btn-hover();
    }
    @include dark-theme{
      @include fs-style($dark-secondary, $dark-font-primary);
      @include btn-hover(transparent, $dark-font-primary, 1px solid $dark-secondary){
        border-radius: 4px 0px !important;
      };
    }
    transition: 325ms;
  }

  .custom-comment{ color: #da4224; }
  
  .slide-to-top-title-container{ top: 0px !important; }
// Custom Classes

// Section Container Defaults
  #project-showcase-container,
  #front-end-dev-container,
  #back-end-dev-container,
  #software-engineer-container,
  #tech-stack-container{
    @include grid-pos(1);
    @include grid-container(min-content, clamp(4.8em, 3.6vw, 3em) auto);
    min-height: 100vh;
    margin: auto;
    padding: 1.5vmin;
  }

  // Titles
    #project-showcase-title-container,
    #front-end-dev-title-container,
    #back-end-dev-title-container,
    #software-engineer-title-container,
    #tech-stack-title-container{
      grid-column: 1;
      grid-row: 1/-1;
      position: relative;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      height: min-content;
      width: min-content;
      transition: all 650ms;
      transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
      z-index: 333;
    }

    #project-showcase-title,
    #front-end-dev-title,
    #back-end-dev-title,
    #software-engineer-title,
    #tech-stack-title{ 
      @include title-header();
      @include text-no-break();
      text-align: center;
      margin: auto;
    }
    
    #project-showcase-title-sub,
    #front-end-dev-title-sub,
    #back-end-dev-title-sub,
    #software-engineer-title-sub,
    #tech-stack-title-sub{
      @include title-sub();
      @include text-no-break();
      text-align: center;
      margin: auto;
      padding: 0rem 0.45rem;
      font-weight: 100;
    }
  // Titles

  // Contents
    #project-showcase-content-container,
    #front-end-dev-content-container,
    #back-end-dev-content-container,
    #software-engineer-content-container,
    #tech-stack-content-container{
      visibility: hidden;
      @include grid-pos(1,2);
      @include grid-container(min-content, auto);
      min-height: 100%;
      padding: 2rem;
      margin: auto;
    }  

  // Contents
// Section Container Defaults

// Introduction
  #intro-container{
    @include grid-pos(1, 1);
    @include grid-container(1fr, auto);
    min-height: 100vh;
  }

  // Message Container
    #intro-message-container{
      @include grid-pos(1, 1);
      @include grid-container(1fr min-content 1fr, auto auto);
      column-gap: 1%;
      height: min-content;
      width: min-content;
      margin: auto;
    }

    // Titles
      #intro-message-title,
      #intro-message-title-squiggle{ 
        font-size: clamp(2em, 3.6vw, 3em); 
        margin: 0px;
        white-space: nowrap;
        font-weight: 100;
      }

      #intro-message-title-mini{
        @include grid-pos(1, 1);
        margin: 0px;
        margin-top: auto;
        white-space: nowrap;
      }
      #intro-message-title{ @include grid-pos(1, 2); }
      #intro-message-title-squiggle{ @include grid-pos(3, 2); }
    // Titles
      
    // Sliding Text
      #intro-message-title-mobile-click{
        @include grid-pos(2,2);
        height: 45px;
        width: 101.2%;
        margin: auto;
        margin-bottom: clamp(0em, 0.3vw, 0.6em);
        padding: 0% 0.45%;
        border-radius: 0.50rem;
        display: none;
        z-index: -111;
      }
      #intro-message-title-text-container{
        grid-column: 2;
        grid-row: 1/-1;
        display: grid;
        height: 44px;
        width: min-content;
        margin: auto;
        margin-bottom: clamp(0em, 0.3vw, 0.6em);
        padding: 0% 0.45%;
        padding-bottom: 44px;
        border-bottom: 1px solid $dark-secondary;
        border-radius: 0.50rem;
        overflow: visible;
        transition: 450ms;
      }
      .intro-message-title-text-container-hover{
        height: 268px !important;
        padding: 4.5% 1.2% !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .intro-message-title-text-a{
        @include grid-pos(1, 1);
        height: min-content;
        @include light-theme(){
          background-color: $light-primary;
          color: $light-font-primary;
        }
        @include dark-theme(){
          background-color: $dark-primary;
          color: $dark-font-primary;
        }
        margin: 0px;
        text-decoration: none;
        border-radius: 0.65rem;
        white-space: nowrap;
        transition: 430ms;
        user-select: none;
      }
      .intro-message-title-text-a:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 0.15rem 0.25rem;
        transform: scale(1.10);
      }
      .intro-message-title-text{
        width: min-content;
        margin: auto;
        white-space: nowrap;
        font-weight: 100;
      }
      .intro-message-title-text-gradient{
        @include light-theme(){
          background: linear-gradient(to right,$light-tertiary 0%,$dark-secondary 33%,$light-tertiary 66%,$dark-secondary 100%);
          background-size: 400% auto;
          background-clip: text;
        }
        @include dark-theme(){
          background: linear-gradient(to right,$light-tertiary 0%,$dark-secondary 33%,$light-tertiary 66%,$dark-secondary 100%);
          background-size: 400% auto;
          background-clip: text;
        }
        color: transparent !important;
        animation: text-gradient  7s alternate infinite;
      }
    // Sliding Text
  // Message Container
// Introduction

// Project Showcase
  // Title
  // Title

  // Content
    #project-showcase-content-container{
      position: relative;
      left: 0.5rem;
      min-height: auto;
    }
    .project-showcase-item-container{
      grid-row: 1;
      display: grid;
      height: 75vmin;
      width: min-content;
      border-radius: 1.25rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-left: -1rem;
      overflow: hidden;
    }

    // Stack Ribbon
      .project-showcase-item-stack-ribbon{
        @include grid-pos(1,1);
        @include light-theme(){
          background-color: $light-primary;
          color: $light-font-primary;
        }
        @include dark-theme(){
          background-color: $dark-primary;
          color: $dark-font-primary;
        }
        visibility: hidden;
        height: min-content;
        width: 0px;
        white-space: nowrap;
        position: relative;
        left: 5%;
        padding: 0px;
        border-radius: 0px 0px .5rem 0.5rem;
        font-weight: bold;
        border-bottom: 1px solid #da4224;
        user-select: none;
      }
    // Stack Ribbon

    // Showcase Item
      .project-showcase-item{
        @include grid-pos(1,1);
        height: 100%;
        width: clamp(5em, 13.5vw, 9em);
        border-radius: 1.25rem;
        transition: all 450ms;
      }
      .project-showcase-item-hover{
        width: 75vmin !important;
      }
      .project-showcase-item-mini{
        width: 4.5vw;
        min-width: unset;
      }
    // Showcase Item

    // Item Description
      .project-showcase-item-desc-container{
        @include grid-pos(1,1);
        position: relative;
        bottom: 5%;
        left: 100%;
        transform: translateX(-100%);
        display: grid;
        visibility: hidden;
        height: min-content;
        width: 0px;
        margin-top: auto;
        transition: all 450ms;
      }
      .project-showcase-item-desc,
      .project-showcase-item-desc-mini,
      .project-showcase-item-desc-github-a{
        @include light-theme(){
          background-color: $light-primary;
          color: $light-font-primary;
        }
        @include dark-theme(){
          background-color: $dark-primary;
          color: $dark-font-primary;
        }
        height: min-content;
        margin: 0px;
        margin-left: auto;
        padding: 0.2rem 0.75rem;
        text-align: right;
        white-space: nowrap;
        user-select: none;
        text-decoration: none;
      }
      .project-showcase-item-desc{ @include desc-header(); }
      .project-showcase-item-desc-mini{ @include desc-sub(); }
      .project-showcase-item-desc-github-a{
        border-bottom: 1px solid #2e79b3;
        margin-top: 0.35rem;
        transition: 300ms;
      }
      .project-showcase-item-desc-github-a:hover{
        transform: scale(1.10);
      }
    // Item Description
  // Content

// Project Showcase

// Front-End Developer
  // Title
  // Title

  // Content
  // Content
// Front-End Developer

// Back-End Developer
  // Title
  // Title

  // Content
  // Content
// Back-End Developer

// Software Engineer
  // Title
  // Title

  // Content
  // Content
// Software Engineer

// Tech Stack (Full-Stack Development)
  // Title
  // Title
  
  // Contents
    #tech-stack-content-container{
      @include grid-pos(1,2);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 65vw;
      min-width: min-content;
      max-width: 1250px;
      padding: 35px;
      background-color: $dark-primary;
      margin: auto;
      gap: 20px;
      z-index: -1;
    }

    .tech-stack-content{
      flex-grow: 1;
      min-width: 250px;
      max-width: 250px;
      background-color: $dark-secondary;
      margin: auto;
      margin-top: 0px;
      border-radius: 6px;
    }
    .tech-stack-content-title{
      text-align: center;

      @include light-theme{
        @include  fs-style();
      }
      @include dark-theme{
        color: $dark-font-primary;
        @include  fs-style($dark-primary, $dark-font-primary);
      }
      font-family: 'Noto Sans', sans-serif !important;
      padding: 10px;
      margin: 6px 0px;
    }

    .tech-stack-content-item{
      text-align: center;
    }
  // Contents
// Tech Stack



// Media Queries
  // Mobile Click
    // Introduction
      #intro-message-title-mobile-click{
        @include grid-pos(1, 3);
        width: unset !important;
        padding: 4.5% 47% !important;
        margin: 15px;
        display: block;
        z-index: 111;
      }
    // Introduction

  // Mobile Click

  // Introduction
    @media only screen and (max-width: 789px) {
      #intro-container{
        margin-left: 7.5%;
      }

      // Message Container
            #intro-message-container{
              @include grid-pos(1, 1);
              @include grid-container(1fr, auto auto auto auto);
              column-gap: 1%;
              height: min-content;
              width: min-content;
              margin: auto
            }

        // Titles                  
            #intro-message-title-mini{
              @include grid-pos(1, 1);
              margin: 0px;
              margin-top: auto;
              white-space: nowrap;
            }
            #intro-message-title{ 
              @include grid-pos(1, 2);
              margin: 0px;
              white-space: nowrap;
            }
            #intro-message-title-squiggle{
              @include grid-pos(1, 4);
              margin: 0px;
              white-space: nowrap;
            }
            
        // Titles

        // Sliding Text
          #intro-message-title-text-container{
            @include grid-pos(1, 3);
            margin: 15px;
          }
        // Sliding Text  
      // Message Container
    }
  // Introduction

// Media Queries