@import './_global-styles.scss';

// Introduction
  #intro-container{
    @include grid-pos(1,1);
    @include grid-container(1fr 1fr 1fr, auto);
    min-height: 100vh;
  }

  .fs-btn-primary{
    // @include btn();

    // @include btn-light();
    // @include btn-dark();

    // @include btn-light-hover(transparent, black);
    @include btn-light-hover();
    @include btn-dark-hover();

    @include zachTest(purple){
      color: orange;
    }

    
    // @include light-theme{
    //   @include btn-color();
    //   @include btn-hover();
    // }
    // @include dark-theme{
    //   @include btn-color();
    //   @include btn-hover();
    // }
    transition: 300ms;
  }
// Introduction

// Tech Stack
  #tech-stack-container{
    grid-column: 1;
    grid-row: 2;
    background-color: $dark-primary;
  }
// Tech Stack