@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    opacity: 0;
    z-index: 2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    opacity: 0;
    z-index: 2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }
}

.slide-in-top-title-text:nth-child(1) {
  -webkit-animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slide-in-top-title-text:nth-child(2) {
  -webkit-animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.slide-in-top-title-text:nth-child(3) {
  -webkit-animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.slide-in-top-title-text:nth-child(4) {
  -webkit-animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}

.slide-in-top-title-text:nth-child(5) {
  -webkit-animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top 950ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 5.40s;
          animation-delay: 5.40s;
}

.slide-in-top-stack-ribbon {
  visibility: visible !important;
  -webkit-animation: slide-in-top-stack-ribbon 1s cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-top-stack-ribbon 1s cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes slide-in-top-stack-ribbon {
  0% {
    padding: 0.35rem 2.5rem;
    padding-top: 0.5rem;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    opacity: 0;
    z-index: 2;
  }
  100% {
    width: -webkit-min-content;
    width: min-content;
    padding: 0.35rem 2.5rem;
    padding-top: 0.5rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }
}

@keyframes slide-in-top-stack-ribbon {
  0% {
    padding: 0.35rem 2.5rem;
    padding-top: 0.5rem;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    opacity: 0;
    z-index: 2;
  }
  100% {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 0.35rem 2.5rem;
    padding-top: 0.5rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }
}

@-webkit-keyframes slide-in-right-showcase {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0.55;
    z-index: 2;
  }
  100% {
    width: unset;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
}

@keyframes slide-in-right-showcase {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0.55;
    z-index: 2;
  }
  100% {
    width: unset;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
}

.slide-in-right-showcase {
  visibility: visible !important;
  -webkit-animation: slide-in-right-showcase 850ms cubic-bezier(0.19, 1, 0.22, 1) both;
          animation: slide-in-right-showcase 850ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}

@-webkit-keyframes slide-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
}

@keyframes slide-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
}

.slide-to-top {
  -webkit-animation: slide-to-top 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-to-top 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slide-to-top-title-container {
  top: 0px !important;
}

@-webkit-keyframes fade-in-center {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.55;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-center {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.55;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.fade-in-center {
  visibility: visible !important;
  -webkit-animation: fade-in-center 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fade-in-center 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes text-gradient {
  to {
    background-position: 100% center;
  }
}

@keyframes text-gradient {
  to {
    background-position: 100% center;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#page-container {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: transparent;
  row-gap: 2.5vmin;
}

@media (prefers-color-scheme: light) {
  #page-container {
    background-color: #ffffff;
    color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  #page-container {
    background-color: #2d3a4c;
    color: #ffffff;
  }
}

#smartphone-check {
  display: block;
  height: 0px;
  width: 0px;
}

@media only screen and (max-width: 760px) {
  #smartphone-check {
    display: none;
  }
}

#navbar-container {
  position: fixed;
  top: 50%;
  left: 3.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: transparent;
  row-gap: 2.5vmin;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  z-index: 9999;
}

.navbar-item-text-a {
  height: 4vmin;
  width: 4vmin;
  margin: auto;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: 430ms;
  transition: 430ms;
}

@media (prefers-color-scheme: light) {
  .navbar-item-text-a {
    background-color: #2d3a4c;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar-item-text-a {
    background-color: #ffffff;
  }
}

.navbar-item-text-a:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.intro-message-title-text {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  white-space: nowrap;
  font-weight: 100;
}

.btn-primary {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.375rem 0.75rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 325ms;
  transition: 325ms;
}

@media (prefers-color-scheme: light) {
  .btn-primary {
    background-color: #f3ab26;
    color: #1c1c1c;
  }
  .btn-primary:hover {
    background-color: transparent;
    color: #1c1c1c;
    border: 1px solid #f3ab26;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-primary {
    background-color: #2e79b3;
    color: #ffffff;
  }
  .btn-primary:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #2e79b3;
    cursor: pointer;
    border-radius: 4px 0px !important;
  }
}

.custom-comment {
  color: #da4224;
}

.slide-to-top-title-container {
  top: 0px !important;
}

#project-showcase-container,
#front-end-dev-container,
#back-end-dev-container,
#software-engineer-container,
#tech-stack-container {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: unset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content;
      grid-template-columns: -webkit-min-content;
      grid-template-columns: min-content;
  -ms-grid-rows: clamp(4.8em, 3.6vw, 3em) auto;
      grid-template-rows: clamp(4.8em, 3.6vw, 3em) auto;
  background-color: transparent;
  min-height: 100vh;
  margin: auto;
  padding: 1.5vmin;
}

#project-showcase-title-container,
#front-end-dev-title-container,
#back-end-dev-title-container,
#software-engineer-title-container,
#tech-stack-title-container {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1/-1;
  position: relative;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) both;
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) both;
  z-index: 333;
}

#project-showcase-title,
#front-end-dev-title,
#back-end-dev-title,
#software-engineer-title,
#tech-stack-title {
  font-size: clamp(1.8em, 4.6vw, 3em);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}

#project-showcase-title-sub,
#front-end-dev-title-sub,
#back-end-dev-title-sub,
#software-engineer-title-sub,
#tech-stack-title-sub {
  font-size: clamp(0.8em, 2.6vw, 1.15em);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  padding: 0rem 0.45rem;
  font-weight: 100;
}

#project-showcase-content-container,
#front-end-dev-content-container,
#back-end-dev-content-container,
#software-engineer-content-container,
#tech-stack-content-container {
  visibility: hidden;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content;
      grid-template-columns: -webkit-min-content;
      grid-template-columns: min-content;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: transparent;
  min-height: 100%;
  padding: 2rem;
  margin: auto;
}

#intro-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: transparent;
  min-height: 100vh;
}

#intro-message-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content 1fr;
      grid-template-columns: 1fr -webkit-min-content 1fr;
      grid-template-columns: 1fr min-content 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background-color: transparent;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
}

#intro-message-title,
#intro-message-title-squiggle {
  font-size: clamp(2em, 3.6vw, 3em);
  margin: 0px;
  white-space: nowrap;
  font-weight: 100;
}

#intro-message-title-mini {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0px;
  margin-top: auto;
  white-space: nowrap;
}

#intro-message-title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

#intro-message-title-squiggle {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

#intro-message-title-mobile-click {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 45px;
  width: 101.2%;
  margin: auto;
  margin-bottom: clamp(0em, 0.3vw, 0.6em);
  padding: 0% 0.45%;
  border-radius: 0.50rem;
  display: none;
  z-index: -111;
}

#intro-message-title-text-container {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 1/-1;
  display: -ms-grid;
  display: grid;
  height: 44px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  margin-bottom: clamp(0em, 0.3vw, 0.6em);
  padding: 0% 0.45%;
  padding-bottom: 44px;
  border-bottom: 1px solid #2e79b3;
  border-radius: 0.50rem;
  overflow: visible;
  -webkit-transition: 450ms;
  transition: 450ms;
}

.intro-message-title-text-container-hover {
  height: 268px !important;
  padding: 4.5% 1.2% !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.intro-message-title-text-a {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px;
  text-decoration: none;
  border-radius: 0.65rem;
  white-space: nowrap;
  -webkit-transition: 430ms;
  transition: 430ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (prefers-color-scheme: light) {
  .intro-message-title-text-a {
    background-color: #ffffff;
    color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .intro-message-title-text-a {
    background-color: #2d3a4c;
    color: #ffffff;
  }
}

.intro-message-title-text-a:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.15rem 0.25rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro-message-title-text {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  white-space: nowrap;
  font-weight: 100;
}

.intro-message-title-text-gradient {
  color: transparent !important;
  -webkit-animation: text-gradient  7s alternate infinite;
          animation: text-gradient  7s alternate infinite;
}

@media (prefers-color-scheme: light) {
  .intro-message-title-text-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#0ce1a1), color-stop(33%, #2e79b3), color-stop(66%, #0ce1a1), to(#2e79b3));
    background: linear-gradient(to right, #0ce1a1 0%, #2e79b3 33%, #0ce1a1 66%, #2e79b3 100%);
    background-size: 400% auto;
    background-clip: text;
  }
}

@media (prefers-color-scheme: dark) {
  .intro-message-title-text-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#0ce1a1), color-stop(33%, #2e79b3), color-stop(66%, #0ce1a1), to(#2e79b3));
    background: linear-gradient(to right, #0ce1a1 0%, #2e79b3 33%, #0ce1a1 66%, #2e79b3 100%);
    background-size: 400% auto;
    background-clip: text;
  }
}

#project-showcase-content-container {
  position: relative;
  left: 0.5rem;
  min-height: auto;
}

.project-showcase-item-container {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  height: 75vmin;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 1.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: -1rem;
  overflow: hidden;
}

.project-showcase-item-stack-ribbon {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  visibility: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 0px;
  white-space: nowrap;
  position: relative;
  left: 5%;
  padding: 0px;
  border-radius: 0px 0px .5rem 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid #da4224;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (prefers-color-scheme: light) {
  .project-showcase-item-stack-ribbon {
    background-color: #ffffff;
    color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .project-showcase-item-stack-ribbon {
    background-color: #2d3a4c;
    color: #ffffff;
  }
}

.project-showcase-item {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
  width: clamp(5em, 13.5vw, 9em);
  border-radius: 1.25rem;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.project-showcase-item-hover {
  width: 75vmin !important;
}

.project-showcase-item-mini {
  width: 4.5vw;
  min-width: unset;
}

.project-showcase-item-desc-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  bottom: 5%;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -ms-grid;
  display: grid;
  visibility: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 0px;
  margin-top: auto;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.project-showcase-item-desc,
.project-showcase-item-desc-mini,
.project-showcase-item-desc-github-a {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px;
  margin-left: auto;
  padding: 0.2rem 0.75rem;
  text-align: right;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .project-showcase-item-desc,
  .project-showcase-item-desc-mini,
  .project-showcase-item-desc-github-a {
    background-color: #ffffff;
    color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .project-showcase-item-desc,
  .project-showcase-item-desc-mini,
  .project-showcase-item-desc-github-a {
    background-color: #2d3a4c;
    color: #ffffff;
  }
}

.project-showcase-item-desc {
  font-size: clamp(0.75em, 2.6vw, 1em);
}

.project-showcase-item-desc-mini {
  font-size: clamp(0.62em, 2.1vw, 0.82em);
}

.project-showcase-item-desc-github-a {
  border-bottom: 1px solid #2e79b3;
  margin-top: 0.35rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.project-showcase-item-desc-github-a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#tech-stack-content-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65vw;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 1250px;
  padding: 35px;
  background-color: #2d3a4c;
  margin: auto;
  gap: 20px;
  z-index: -1;
}

.tech-stack-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 250px;
  max-width: 250px;
  background-color: #2e79b3;
  margin: auto;
  margin-top: 0px;
  border-radius: 6px;
}

.tech-stack-content-title {
  text-align: center;
  font-family: 'Noto Sans', sans-serif !important;
  padding: 10px;
  margin: 6px 0px;
}

@media (prefers-color-scheme: light) {
  .tech-stack-content-title {
    background-color: #f3ab26;
    color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .tech-stack-content-title {
    color: #ffffff;
    background-color: #2d3a4c;
    color: #ffffff;
  }
}

.tech-stack-content-item {
  text-align: center;
}

#intro-message-title-mobile-click {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  width: unset !important;
  padding: 4.5% 47% !important;
  margin: 15px;
  display: block;
  z-index: 111;
}

@media only screen and (max-width: 789px) {
  #intro-container {
    margin-left: 7.5%;
  }
  #intro-message-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    background-color: transparent;
    -webkit-column-gap: 1%;
            column-gap: 1%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
  }
  #intro-message-title-mini {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0px;
    margin-top: auto;
    white-space: nowrap;
  }
  #intro-message-title {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0px;
    white-space: nowrap;
  }
  #intro-message-title-squiggle {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    margin: 0px;
    white-space: nowrap;
  }
  #intro-message-title-text-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 15px;
  }
}
