.react-resizable-handle {
  width: 20px;
  height: 20px;
  background-color: #cfceb7; 
  border-radius: 6px !important; 
  cursor: se-resize;
  position: relative;
  bottom: -9px !important;
  right: -9px !important;
  border: 4px solid #262215; 
}
.react-resizable-handle::after{content: none !important}
