* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #F9F7F4;
  max-width: 100vw;
}

/* ProjectCarousel.tsx */
.slick-list { 
  padding-bottom:6px !important;
}
.slick-slide {
  padding: 0 clamp(0.5rem, 1vw, 16px);
  
  &:hover{
    cursor: pointer;
  }
}
